$accent: #ff6b00;
$hovaccent: #ff6b0099;
$default: #fff;
$bg: #000;
$topbg: #1d1d1d;





%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-600 {
  font-family: 'OpenSans-Semibold', sans-serif;
  font-weight: 600;
}

%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%furore-400 {
  font-family: 'Furore-Regular', sans-serif;
  font-weight: 400;
}